@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-silkscreen: 'Silkscreen', 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: #e5e5f7;
}

a:hover,
a:focus,
a:active {
  opacity: 0.5;
}

.app-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 6em;
}

.app-nav a {
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
.app-nav {
  font-family: 'Silkscreen', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

.page-wrap {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

/* home */

.home {
  background-image: url('../assets/mesh-gradients-trio22.svg');
}

.image-blend-screen {
  mix-blend-mode:screen;
}

.image-blend-soft {
  mix-blend-mode: soft-light;
}

.image-blend-screen img,
.image-blend-soft img {
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
}

.home-hero {
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0,  #a303bf 30px ), repeating-linear-gradient(#551a89,#a303bf);
  background-blend-mode:color-burn;
}

.height-minus-nav {
  height: calc(100vh - 6em);
}

.home-hero h1 {
  text-shadow: 2px 5px 3px #1f1f1f55;
}

.icon-1 {
  display: flex;
  justify-content: center;
  opacity: .5;
  animation: 800ms infinite alternate float;
}

/* end */

.app-footer {
  height: 60px;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game-img,
.list-game-img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

.view-title {
  font-size: 2.5rem;
}

.view-game-img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  max-width: 900px;
  margin: 0 auto;
}

.list-game-img {
  max-width: 200px;
  object-fit: cover;
}

.list-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* .game-description {
  width: 80%;
}

.game-description-wrap {
  border: 1px solid gray;
  padding: 1rem;
} */

.game-screenshot {
  max-width: 600px;
}

.screenshot-carousel {
  background-color: #000;
}

@media (min-width: 768px) {

  .game-description {
    max-width: 80%;
    margin: 0 auto;
  }

}

@keyframes float {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%)
  }
}