@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-silkscreen: 'Silkscreen', 'Courier New', monospace;
  --pattern-bg: radial-gradient(circle at top left,transparent 9%, #632c94 10% ,#632c94 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #632c94 10% ,#632c94 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #632c94 10% ,#632c94 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #632c94 10% ,#632c94 15% , transparent 16%),radial-gradient(circle, transparent 25%, #551A89  26%),linear-gradient(0deg, transparent 44%, #632c94 45%, #632c94 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #632c94 45%, #632c94 55%, transparent 56%);
  --bg-grad: url('/mesh-gradients-trio22.svg');
  --bg-img: url('/igor-karimov-9AmKnNZw3GA-unsplash.jpg');
  --purple: #551a89;
  --pink: #b646ba;
  --lavender: #b888e2;
  --darkGrey: #30343f;
  --lightGrey: #fafaff;
  --textShadowPink: 3px 3px 3px #b646ba;
}

a {
  color: var(--lavender);
  transition: color 200ms;
}

a:hover,
a:focus,
a:active {
  color: inherit;
}

.navbar a, .btn a {
  color: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3
{
  font-family: 'Silkscreen', sans-serif;
}


.page-wrap {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  background-image: var(--bg-grad);
}

.navbar {
  mix-blend-mode: screen;
}

/* home */

.home {
  background-image: var(--bg-grad);
}

.image-blend-screen {
  mix-blend-mode: screen;
  aspect-ratio: 14/9;
}

.image-blend-screen img,
.image-blend-soft img {
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
}

.home-hero {
  background: var(--pattern-bg);
  background-size: 4em 4em;
  background-color: #551A89;
  opacity: 1;
}

.height-minus-nav {
  height: calc(100vh - 4em);
}

.text-shadow-pink {
  color: #fff;
  text-shadow: var(--textShadowPink);
}

.icon-1 {
  display: flex;
  justify-content: center;
  opacity: .5;
  animation: 800ms infinite alternate float;
}

/* end */

.app-footer {
  height: 60px;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: var(--bg-img);
  background-size: cover;
  mix-blend-mode: lighten;
}

.search-card {
  background-color: var(--purple);
  mix-blend-mode: screen;
}

.search-card:hover {
  mix-blend-mode: unset;
  background-image: var(--bg-grad);
}

.game-img,
.list-game-img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

.view-title {
  font-size: 2.5rem;
}

.view-game-img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  max-width: 900px;
  margin: 0 auto;
}

.list-game-img {
  width: 100%;
  object-fit: cover;
}

.list-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.game-screenshot {
  max-width: 600px;
}

/* slug */

.slug-info-wrap {
  background: linear-gradient(to bottom, var(--pink), transparent);
}

.screenshot-carousel {
  background-color: #000;
}

@media (min-width: 768px) {

  .game-description {
    max-width: 80%;
    margin: 0 auto;
  }

}

@keyframes float {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%)
  }
}